<div class="page-wrapper">

  <div class="hero my-parallax center-center">
    <video src="videos/vid4.mp4" class="bg-video" autoplay poster="#"></video>
    <div class="hero-title">
      <h1>vu<strong><b>books</b><strong></h1>
        <h4>A better way to trade textbooks</h4>

    </div>
  </div>


<div class="divider-section center-center">
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
        <h5 class="center">No Books Left Behind</h5>

        <p class="light">
          A typical college student can spend upwards of $200 on a single textbook, but at the end of the semester, the campus bookstore will buy the book back at a fraction of the price. Vu<b>books</b> is a way to maximize the value of every textbook.
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
        <h5 class="center">Easily Find People to Trade With</h5>

        <p class="light">
          Other students at your college will need that book and you are going to need books for another class. Who better to do business with than with the hundreds with students around you everyday.
        </p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
        <h5 class="center">Negotiate Your Terms</h5>

        <p class="light">
          Unfortunately, not all books were create equal. So it wouldn't make sense to trade them as such. Easily manage conversations with all your potential traders. Whether it be book for book, or book for money. Find what you need and set your price.
        </p>
      </div>
    </div>
  </div>

</div>




  <div class="search header my-parallax center-center">
    <div class="center-center">
      <div class="banner-title">
        <h2>Start Searching for Books</h2>
      </div>
      <div class="search-banner ">
        <form class="input-field" ng-submit='searchFromHome(homeSearch)' style="  margin-top: 2rem;">
          <i class="material-icons prefix">search</i>
          <input type="text" id='search' ng-model="homeSearch" required>
          <label class="home-search mobile" for="search">Search by title, author, or ISBN </label>
        </form>

      </div>

    </div>


  </div>

  <footer class="page-footer grey darken-4">
           <div class="container">
             <div class="row">
               <div class="col l6 s12">
                 <h5 class="white-text">Contact</h5>
                 <p class="grey-text text-lighten-4">harryvu801@gmail.com</p>
               </div>
             </div>
           </div>
           <div class="footer-copyright">
             <div class="container">

             <a class="grey-text text-lighten-4 right" >© 2014 Copyright Text</a>
             </div>
           </div>
         </footer>
</div>
