<div class="page-wrapper container">



<div class="row">
  <div class="col s2 my-side-nav prof-nav">
    <div class="divider"></div>
    <h5>Profile</h5>
    <ul class='nav-links'>
      <li><a ui-sref="books" class="nav-link">MyBooks</a></li>
      <li><a ui-sref="messages" class="nav-link">Messages</a></li>
    </ul>
    <div class="divider"></div>
  </div>

  <div class='col s10 offset-s2'>
    <h4>{{currentUser.first_name}} {{currentUser.last_name}}</h4>
    <div class="col s12">
      <main ui-view></main>
    </div>
  </div>

</div>
</div>
