<div class="page-wrapper container">
  <!-- <div class="bg"></div> -->
  <div class="row">
    <div class='col m10 offset-m1'>
      <div class="row search-sort">
        <div class="col s10">
          <form class="input-field" ng-submit='search(bsearch)'>
            <i class="material-icons prefix">search</i>
            <input type="text" id='search' ng-model="bsearch" required>
            <label for="search" class='mobile'>Search by title, author, or ISBN </label>
          </form>
        </div>
        <div class="input-field right col s2">
         <select material-select watch ng-model='value' class='mobile'>
           <option value="" disabled selected><p>Sort by...</p></option>
           <option ng-repeat="option in sorts">{{option}}</option>
         </select>
        </div>
      </div>
      <div class="row results" >
        <div class="col s12" ng-show="searchTerm">
          <h5>Results for "{{searchTerm}}":</h5>
        </div>

        <!-- CARDS BEGIN HERE -->

        <div class="col s6 m4 l3" ng-repeat='book in books | orderBy: value.toLowerCase()'>
          <div class="card grey lighten-4 small sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator book-img" ng-src = '{{book.imgurl}}'>
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">{{book.title}}</span>
            </div>
            <div class="card-action">
              <a class="my-hover"
                tooltipped data-delay="50"
                data-position="top"
                data-tooltip="See Book Details"
                data-target='demoModal' modal
                ng-click="getBookDetails(book.isbn)">More...</a>
              <a class="my-hover right"
                tooltipped data-delay="50"
                data-position="top"
                data-tooltip="Add to Wishlist"
                message="Added to Wishlist"
                duration="2000" toast='click'
                ng-show="currentUser"
                ng-click="addBookToWishlist(book.bid)">
                <i class="material-icons">note_add</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<modal></modal>
