.center-center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.my-hover:hover {
  cursor: pointer;
}

.page-wrapper {
  padding-top: 65px;

}

.my-side-nav {
  position: fixed;
  height: 100vh;
  display: block;
}

.nav-links {
  margin: -3% 0% 10% 15%;
}

.nav-link {
  margin:2% 0%;
}

.nav-link:hover {
  cursor: pointer;
  border-bottom: 1px;
  border-bottom-style: solid;
}

.my-nav {
  position: fixed;
  z-index: 100;
}

.books-nav {
  margin-top: 56px;;
}

.user-icon{
  height: 35px;
  margin-top: 15px;
}

.search-sort {
  width: 76%;
  left: 21%;
  position: fixed;
  z-index: 50;
  background-color: white;
}

.results {
  padding-top: 100px;
  padding-left: 25px;
}

.my-fab{
  right: 0;
  bottom: 17%;
}

.bg-video {
  z-index: -100;
  position: absolute;
  /*height: 100%;*/
  width: 100vw;
}

.hero {
height: 80vh;
width: 100%;
}

.hero-title {
  color: white;
  font-size: 24px;
}

.search-banner {
  height: 100px;
  width: 70%;
  background-color: black;
  opacity: .7;
  color: white;
  border-radius: 10px;

}

.banner-title {
  width: 100%;
  color: white;
}

.book-img {
  background-size: contain;
}

.my-card {
  font-size: 16px !important;
  /*margin: 15px;*/
}

.search {
  height: 60vh;
  background-image: url("../imgs/lib1.jpg");
  margin-bottom: 25px;
}

.my-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.divider-section {
  height: 350px;
}


.book-img {
  height: 300px;
  width: 200px;
}
