main.ng-enter {
  opacity: 0;
  transition: 0.6s;
}

main.ng-enter.ng-enter-active {
  opacity: 1;
}

.center-center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg {
  background-image: url('../public/img/lib2.jpg');
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  opacity: .5;
}

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-hover:hover {
  cursor: pointer;
}

.page-wrapper {
  padding-top: 60px;

}

.my-side-nav {
  position: fixed;
  height: 100vh;
  display: block;
}

.nav-links {
  margin: -3% 0% 10% 15%;
}

.nav-link {
  margin:2% 0%;
}

.nav-link:hover {
  color: #FFB74B;
  cursor: pointer;
  border-bottom: 1px;
  border-bottom-style: solid;
}

.my-nav {
  position: fixed;
  z-index: 100;
}

.books-nav {
  margin-top: 56px;;
}

.prof-nav {
  margin-top: 72px;;
}

.user-icon{
  height: 35px;
  margin-top: 15px;
}

.search-sort {
  width: 79%;
  left: 11%;
  position: fixed;
  z-index: 50;
  background-color: white;
}

.results {
  padding-top: 100px;
  padding-left: 25px;
}

.my-fab{
  right: 10%;
  bottom: 40%
}

.bg-video {
  z-index: -100;
  position: absolute;
  height: 505px;
  object-fit: fill;
  width: 100vw;
}

.hero {
height: 80vh;
width: 100%;
}

.hero-title {
  color: white;
  font-size: 24px;
}

.search-banner {
  height: 100px;
  width: 70%;
  background-color: black;
  opacity: .7;
  color: white;
  border-radius: 10px;
  padding-right: 3rem;
}

.banner-title {
  width: 100%;
  color: white;
}

.book-icon {
  height: 65px;
  position: absolute;
  left:15px;
}

.my-card {
  font-size: 16px !important;
  /*margin: 15px;*/
}

.search {
  height: 60vh;
  background-image: url("../imgs/lib1.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.my-parallax {
  margin-top: -12px;

}

.divider-section {
  height: 350px;
}


.book-img {
  background-size: contain;
  height: 300px;
  width: 200px;
}

.book-details-summary {
  margin-left: 15px;
}

.book-details {
  margin-left: 10px;
}

.book-details-img {
  margin-top: 7px;
  height: 290px;
  position: fixed;
}

.u-msgs {
  height: 80vh;
}


.sender {
  text-align: right;
}

.recipient{
  display: none;
}

.home-search {
  left:0;
}

.collapsible-header .circle {
    /*position: absolute;*/
    width: 42px;
    height: 42px;
    overflow: hidden;
    margin: 15px;
    display: inline-block;
    vertical-align: middle;
  }

a{
  color: inherit;
}
a:hover{
  cursor:pointer;
}

h1 {
  font-size: 9.2rem;
}

@media (max-width:600px) {
  .hero-title h1 {
    font-size: 5.2rem;
  }

  .hero-title h4 {
    font-size: 1.28rem;
  }

  .divider-section {
    height: 720px;
  }

  .banner-title {
    font-size: 2.56;
  }

  .mobile {
    display: none;
  }
}
