.my-hover:hover {
  cursor: pointer;
}
.create-account {
  border: none;
  border-bottom: 1px;
}

.sign-in {
  background-color: white;
}

.my-nav {
  position: fixed;
  z-index: 100;
}

.bg-video {
  z-index: -100;
  position: absolute;
  /*height: 100%;*/
  width: 100vw;
}

.hero {
height: 80vh;
width: 100%;
}

.hero-title {
  color: white;
  font-size: 24px;
}

.center-center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-wrapper {
  padding-top: 60px;
}

.search-banner {
  height: 100px;
  width: 70%;
  background-color: black;
  opacity: .7;
  color: white;
  border-radius: 10px;

}

.banner-title {
  width: 100%;
  color: white;
}

.book-img {
  background-size: contain;
}
.my-card {
  font-size: 16px !important;
  /*margin: 15px;*/
}
.search {
  height: 60vh;
  background-image: url("../imgs/lib1.jpg");
  margin-bottom: 25px;
}



.my-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-side-nav {
  position: fixed;
  height: 100vh;
  /*background-color: red;*/
}

.divider-section {
  height: 350px;
}

.results {
  width: 85%;
  /*background-color: blue;*/
  flex-wrap: wrap;
  justify-content: center;

}
